<script src="lib/jquery.js"></script>

<script src="model/js/Sherif_Model.js" type="text/javascript"></script>
<script src="model/js/classes/Sherif_Class_ScriptLog.js" type="text/javascript"></script>
<script src="model/js/classes/Sherif_Class_TBScene.js" type="text/javascript"></script>
<script src="model/js/classes/Sherif_Class_BatchScript.js" type="text/javascript"></script>
<script src="model/js/classes/Sherif_Class_Batch.js" type="text/javascript"></script>

<script src="control/js/Sherif_Control.js" type="text/javascript"></script>

<script src="view/js/classes/Sherif_Class_TBSceneRowObjectManager.js" type="text/javascript"></script>
<script src="view/js/classes/Sherif_Class_TBSceneRowObject.js" type="text/javascript"></script>

<script src="view/js/classes/Sherif_Class_ScriptHistoryObjectManager.js" type="text/javascript"></script>
<script src="view/js/classes/Sherif_Class_ScriptHistoryObject.js" type="text/javascript"></script>
<script src="view/js/classes/Sherif_Class_ScriptLogSpan.js" type="text/javascript"></script>

<script src="view/js/classes/Sherif_Class_BatchScriptRowObjectManager.js" type="text/javascript"></script>
<script src="view/js/classes/Sherif_Class_BatchScriptRowObject.js" type="text/javascript"></script>

<script src="view/js/Sherif_View.js" type="text/javascript"></script>

