

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color:#565656;
   font-family: Verdana, Helvetica, sans-serif;
	font-size: 1em;
}


.container {
  width: 100%;
  height: 100%;
   background-color:#707070;
}

#banner{
    padding:0 20px;
  display: flex;
  flex-wrap: wrap;
  color: #e8c268;
  /* align-content: center; */
}
#banner img{
     display:block;
     margin:0 auto;
}

.pane{
	
    background-color: #bbbbbb;	
	margin:3px;	
    height: 100%;
}

#leftpane {
    width: 40%;
    float: left;
    border-collapse: collapse;
}

#middlepane {
    width: 30%;
    float: left;
    border-collapse: collapse;

}

#rightpane {
  width:25%;
  position: relative;
  float: left;
  border-collapse: collapse;
}

#toppane {
  width: 100%;
  height: 100px;
  border-collapse: collapse;
}




















#script_list{
	width:100%;
	
}

#input_script{
	
	width:100%;
}



input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

input[type=submit] {
  /*width: 100%;*/
  background-color: #e8c268;
  color: black;
  padding: 14px 20px;
  margin-top:8px;
  margin-bottom:8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f7d992;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}


div {
  border-radius: 5px;
  padding: 10px;
}




#tbscenes_input_list{
	background-color:#707070;

}

#batch_scripts_input_list{
	color: white;
	 background-color:#707070;
}


.row{
	border: 2px;
	border-radius:4px;
	margin:1%;	
	background-color: #BBBBBB;
	cursor: pointer;	
}

.tbscene{
	border: 2px;
	border-radius:4px;
	margin:1%;	
	background-color: #BBBBBB;
	cursor: pointer;
}


.tbscene_name{
	
	border: none;
	text-align: center;	
	background-color: #FFFFFF;	


}



.tbscene_script_history{
	border: none;
	 border-radius: 4px;
	padding:0.5%;
	margin: 0.5%;
	text-align: center;	
	height:3%;
	
}


option{
	width:100%px;
	
	
}



.batch_script_row{
	border: none;
	border-radius:4px;
	padding:1%;
	margin:1%;	
	background-color: #BBBBBB;
	cursor: pointer;
}





.hide_by_default{
	
	display: none;
}
.script_log_icon{
	
	width:3%;
	height:3%;

}
.script_icon_big{
	
	width:10%;
	height:10%;

}



.batchscript_row{
	
	border: none;
	border-radius:4px;
	padding:1%;
	margin:1%;	
	background-color:#888888;

}


#command_line{
	font-family: Courier New;
	color:#DDDDDD;
	overflow-wrap: anywhere;
	background-color:#000000;
	
}

.logbox{
	
	border: none;
	border-radius:4px;
	padding:1%;
	margin:1%;	
	background-color:#888888;

}